[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
xlrd = "*"
hazm = "*"
pytest = "*"
wheel = "*"
lxml = "*"
BeautifulSoup4 = "*"
flask = "*"
autopep8 = "*"
pylint = "*"
persianstemmer = {file = "https://github.com/htaghizadeh/PersianStemmer-Python/archive/master.zip"}
matplotlib = "*"
pandas = "*"
requests = "*"


[requires]
python_version = "3.7"
