.item {
  position: relative;
  background-color: #f6f6f6;
  padding: 10px;
  width: 100%;
  margin-bottom: 1px;
}

.description {
  word-wrap: break-word;
  display: inline-block;
  width: 80%;
}

.image {
  width: 4rem;
  height: 4rem;
  right: 5%;
  display: inline-block;
  position: absolute;
  top: 17%;
  /* float: right; */
  border-radius: 50%;
  bottom: 25%;
}
