.searchBox {
  margin: 5px;
  align-content: center;
  border-radius: 5%;
}

.searchField {
  flex: 10;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font: 150%;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  flex: 1;
}

.btn:hover {
  background: #666;
}
